# Environment
NODE_ENV=development

# Firebase Configuration
FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=your-auth-domain
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_STORAGE_BUCKET=your-storage-bucket
FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_APP_ID=your-app-id
FIREBASE_MEASUREMENT_ID=measurement-id

# Local Emulator Settings
LOCAL_AUTH_EMULATOR_URI=http://localhost:9099
LOCAL_FIRESTORE_EMULATOR_HOST=localhost
LOCAL_FIRESTORE_EMULATOR_PORT=8080
LOCAL_FUNCTIONS_EMULATOR_HOST=localhost
LOCAL_FUNCTIONS_EMULATOR_PORT=5001