@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html body {
  /* margin: 0; */
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.myBg {
  background-color: var(--mui-palette-common-background);
}
